.navbar {
    height: 50px;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list {
    display:flex;
    align-items: center;
    list-style: none;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.listItem {
    margin-right: 20px;
    font-weight:  500;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}